@import 'node_modules/reveal/index.css';
@import 'node_modules/reveal/theme/sky.css';

.reveal h6 {
    font-size: 60%
}

.reveal p {
    margin-top:2em;
}

.reveal img {
    border: 0;
}

.reveal section img.no-borders {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.reveal .slide-title {
    animation: glide 1s linear 0s;
}

@keyframes glide {
    0% { opacity: 0; transform: translateY(-30px); }
    100% { opacity: 1; transform: translateY(0px); }
}

.reveal h1 {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
