.rw-wrapper {
    position: relative;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	color: darkred;
	animation: rotateWord 9s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	35% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}